.game-level-page {
    text-align: center;
    padding: 40px 20px;
}

.game-level-page h2 {
    font-size: 2.5rem;
    color: #009688;
    margin-bottom: 20px;
}

.game-instructions {
    background-color: #e3f2fd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    max-width: 700px;
    margin: 0 auto;
}

.image-container {
    margin: 30px 0;
}

.image-container video {
    width: 100%;
    max-width: 400px;
    /* ปรับขนาดวิดีโอตามต้องการ */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button-group {
    display: flex;
    gap: 200px;
    justify-content: center;
}

.button-group button {
    background-color: #226177;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 40p;
    border-radius: 20px;
}

.button-group button:first-child {
    background-color: #e57373;
}

.button-group button:hover {
    opacity: 0.9;
}

.symptom-notes {
    display: flex;
    /* ใช้ Flexbox เพื่อจัดตำแหน่ง */
    flex-direction: column;
    /* จัดเรียงเนื้อหาในแนวตั้ง */
    align-items: center;
    /* จัดให้อยู่ตรงกลางในแนวนอน */

    text-align: left;
    /* ยังคงจัดข้อความในกล่องชิดซ้าย */
    margin-top: 20px;
    /* เพิ่มระยะห่างจากด้านบน (สามารถปรับได้) */

}

.symptom-notes label {
    display: block;
    /* ทำให้ label อยู่แยกแถว */

    margin-bottom: 5px;
    /* เพิ่มระยะห่างระหว่าง label และ textarea */
}

.symptom-notes textarea {
    width: 52%;
    height: 45px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;

}