target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/java/ac/th/fearfreeanimals/controller/Reward.java
src/main/java/ac/th/fearfreeanimals/controller/RewardController.java
src/main/java/ac/th/fearfreeanimals/controller/RewardRedemptionController.java
src/main/java/ac/th/fearfreeanimals/entity/GameProgress.java
src/main/java/ac/th/fearfreeanimals/repository/RewardRedemptionRepository.java
src/main/java/ac/th/fearfreeanimals/repository/UserRepository.java
src/main/java/ac/th/fearfreeanimals/service/GameProgressService.java
src/main/resources/schema.sql
