.subcategory-page {
    text-align: center;
    padding: 40px 20px;
}

.subcategory-page h2 {
    font-size: 30px;
    color: #226177;
    margin-bottom: 20px;
    text-align: center;
        /* Centers the text within the h2 */
        width: 100%;
}

.animal-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* This sets up three items per row */
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    /* Optional: set a max width for better centering */
    margin: 0 auto;
}

.animal-card {
    background-image: linear-gradient(0deg, rgba(179, 216, 216, 1) 0%, rgba(246, 255, 252, 1) 100%);
    border-radius: 10px;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #226177;
    transition: background-color 0.3s, transform 0.2s;

}

.animal-card:hover {
    background-color: #fce4ec;
    transform: translateY(-5px);
    color: #0D3B66;
}