@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

/*------------ Global Styles -----------*/

.container {
  max-width: 85%;
  margin: auto;
}

.flexSB {
  display: flex;
  justify-content: space-between;
  
  
}

.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(236, 236, 236, 0.755);
  color: #226177;
  transition: background-color 0.5s, color 0.5s;
  margin-left: 4px;
}

.icon:hover {
  cursor: pointer;
  background-color: #226177;
  color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.row {
  width: 50%;
}

/* General Button Styling */
button {
  padding: 15px 40px;
background-color: #226177;
  color: white;
  font-weight: 600;
  border: none;
  margin: 20px 10px 0 0;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgba(0, 0, 0, 0.09);
  transition: background-color 0.5s, box-shadow 0.5s;
  
}

/* Styling for icons inside the button */
button i {
  margin-left: 20px;
}

/* Primary Button Styling */


/* Heading Section */
#heading {
  text-align: center;
  padding: 40px 0;
}

#heading h3 {
  font-weight: 600;
  letter-spacing: 1px;
  color: #1eb2a6;
  text-transform: uppercase;
}

#heading h1 {
  font-size: 35px;
  margin: 20px 0;
  text-transform: capitalize;
}

p {
  line-height: 1.6;
  font-size: 20px;
}

/* Background Section */
.back {
  background-image: url("../public/images/back.webp");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 30%;
  padding-right: 50px;
  color: #fff;
  text-align: center;
}

.back h1 {
  font-size: 100px;
  font-weight: 400;
}

.back h2 {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
}

/* Spacing */
.margin {
  margin-top: 5%;
}

/* Grid Layouts */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.flex {
  display: flex;
}

.grid2 {

  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

/* Outline Button Styling */
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #1eb2a6;
  width: 100%;
  transition: background-color 0.5s, color 0.5s;
}

.outline-btn:hover {
  background-color: #1eb2a6;
  color: #fff;
}

/* Padding */
.padding {
  padding: 25px 0;
}

/* Shadow Box */
.shadow {
  box-shadow: 0 5px 25px -2px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {

  .grid,
  .grid2,
  .grid3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .back {
    background-position: center;
    padding-top: 50%;
    height: 80vh;
  }
}